* {
  font-family: Roboto, sans-serif;
  color: rgb(39, 37, 37);
  line-height: 1.5;
  font-size: medium;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  width: 128px;
  border-radius: 50%;
}

main {
  margin-top: 128px;
}

footer {
    margin: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border: 1px rgb(0, 0, 0) solid;
}
